{%extends "index.html"%}

{%block main%}
<div class="addNews">
	<form name = “add_travel” method="post" action="/add_travel" enctype="multipart/form-data">
		<h2>Add "Discover"</h2>
		<p>"Discover" title</p>
		<input name="name" type="text" required>
		<p>"Discover" description</p>
		<textarea name="description" required rows="15" cols="100"></textarea>
		<p>Image URL</p>
		<input id="inputUploadFile" name="file" type="file" required>
		<label for = "inputUploadFile"></label><br>
		<button name="submit" type="submit">ADD ARTICLE</button>
		<button name="reset" type="reset">RESET</button>
	</form>
</div>
<script type="text/javascript">
let inputUploadFile = document.querySelector('#inputUploadFile')
inputUploadFile.addEventListener('change', function(){
	if(inputUploadFile.files[0].type.includes('image')){
		let reader = new FileReader()
		reader.readAsDataURL(inputUploadFile.files[0])
	} else{
		alert('Виберіть зображення!')
	}
})
</script>
{%endblock%}